@import '../../App.scss';

.header{
    background-color: $second-background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    .app-name{
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: 2rem;
        opacity: .8;
        cursor: pointer;
    }
    .nav-bar{
        display: flex;
        justify-content: center;
        .nav-opt{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1rem;
            padding: .3rem .5rem;
            color: #ffffff;
            // background-color: $btn-background;
            // border: solid $btn-background 2px;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}