@import '../../App.scss';

.card{
    background-color: $third-background;
    border-radius: 5px;
    width: 250px;
    .img{
        width: 250px;
        height: 250px;
    }
    .content{
        // height: 90px;
        background-color: $second-background;
        color: $base-color;
        padding: 1rem;
        opacity: .8;
        .data{
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name{
                font-variant: small-caps;
                font-size: 1.4rem;
                font-weight: 500;
            }
            .score{
                color: #4fd048;
                font-weight: 600;
                span{
                    font-size: .9rem;
                }
            }
        }
        .choice{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: .5rem;
            select{
                padding: .3rem .5rem;
                width: 100%;
                border-radius: 3px;
                font-size: 1rem;
                option{
                    padding: .3rem .5rem;
                }
            }
        }
    }
}