@import '../../App.scss';

.home{
    background-color: $base-background;
    height: 90vh;
    background-image: url('../../img/home-gif3.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .content{
        margin-top: 2rem;
        color: #ffffff;
        text-align: center;
        .first-para{
            font-size: 4rem;
        }
        .second-para{
            margin-top: -3rem;
            font-size: 1.1rem;
        }
    }
    .btn{
        margin-bottom: 3rem;
        padding: 0.8rem 1.3rem;
        background-color: $btn-background;
        border-radius: 3px;
        font-weight: 600;
        cursor: pointer;
    }
}