@import '../../App.scss';

.vote-body{
    background-image: url('../../assets/img/WhatsApp\ Image\ 2021-05-27\ at\ 13.56.34.jpeg');
    // background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    .opts{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem;
        .btns{
            display: flex;
            justify-content: space-around;
            // width: 30%;
            align-items: center;
        }
    }
    .cards{
        display: flex;
        justify-content: space-evenly;
        margin: 2rem 2rem;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px){
    .vote-body{
        overflow-y: scroll;
        .opts{
            .btns{
                display: none;
            }
        }
    }
}