@import '../../App.scss';

.result-body{
    background-image: url('../../assets/img/home-gif3.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    .notice{
        color: $primary-color;
        opacity: .8;
        text-align: center;
        padding: 1rem;
    }
    .lable{
        margin-top: 1rem;
        color: #ffcac7;
        font-size: 3rem;
        font-family: monospace;
        font-variant-caps: all-petite-caps;
        font-weight: 900;
        text-align: center;
        padding: 1rem;
    }
    .results{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1fr, 5);
    }
}

@media screen and (max-width:700px){
    .result-body{
        overflow-y: scroll;
        .results{
            grid-template-columns: 1fr;
            margin-bottom: 4rem;
        }
        .notice{
            display: none;
        }
    }
}