@import '../../App.scss';

.btn{
    background-color: $btn-background;
    padding: .5rem 1rem;
    color: $base-background;
    font-weight: 600;
    width: fit-content;
    border-radius: 3px;
    cursor: pointer;
}