@import '../../App.scss';

.home-body{
    display: grid;
    grid-template-rows: 1fr  2fr 1fr;
    overflow: hidden;
    height: 84vh;
    .content{
        color: $primary-color;
        .first-para{
            font-size: 4rem;
            margin-top: 1rem;
            display: none;
        }
    }
    .status{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        .status-bar{
            margin: 3rem 3rem;
        }
    }
    .btn-wrapper{
        display: grid;
        place-items: center;
    }
}

@media screen and (max-width:700px){
    .home-body{
        grid-template-rows: 2fr 1fr;
        .status{
            display: none;
        }
        .content{
            .first-para{
                font-size: 2rem;
                // display: block;
            }
        }
    }
}