@import '../../App.scss';

.header{
    // width: 100vw;
    padding: 1rem 0;
    background-color: $primary-background;
    border-bottom: solid $primary-border 2px;
    border-top: solid $primary-border 2px;
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr;
    .app-name{
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: -3rem;
        opacity: .8;
        transition: opacity .4s;
        cursor: pointer;
    }
    .app-name:hover{
        opacity: 1;
    }
    .logo-wrapper{
        display: none;
        justify-content: flex-end;
        margin-right: 2rem;
        .logo{
            background-image: url('../../assets/img/ELSOVV.PNG');
            width: 2rem;
            height: 2rem;
            background-size: cover;
            border-radius: 50%;
        }
    }
    .nav-bar{
        display: grid;
        grid-template-columns: repeat(4,100px);
        grid-column-start: 3;
        margin-right: 2rem;
        .nav-opt{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            border-bottom: solid $secondary-border 2px;
            transition: all .4s;
            cursor: pointer;
        }
        .nav-opt:hover{
            border-bottom: solid $primary-border 2px;
        }
    }
}

@media screen and (max-width:700px){
    .header{
        .nav-bar{
            display: none;
        }
        .logo-wrapper{
            display: flex;
        }
    }
}