@import '../../App.scss';

.form-body{
    height: 90vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    width: 100vw;
    .join-form{
        width: 60vw;
        height: 70vh;
        background-color: $secondary-background;
        opacity: .97;
        padding: 1rem 2rem;
        display: grid;
        grid-template-areas: "image data";
        grid-template-columns: .4fr .6fr;
        .note{
            grid-area: note;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                display: inline-block;
            }
        }
        .image-data{
            display: grid;
            grid-area: image;
            place-items: center;
            canvas{
                width: 250px;
                height: 250px;
                border-radius: 5px;
                background-image: url('../../assets/img/WhatsApp\ Image\ 2021-05-27\ at\ 13.49.19.jpeg');
                background-size: cover;
            }
        }
        .other-data{
            display: grid;
            place-items: center;
            .input-wrapper{
                position: relative;
                display: grid;
                place-items: center;
                width: 70%;
                // input{
                //     padding: .5rem;
                //     border-radius: 5px;
                //     border: solid $primary-border 2px;
                //     width: 100%;
                //     margin-top: 2rem;
                //     font-size: 1rem;
                // }
                .select{
                    padding: 1rem;
                    border-radius: 5px;
                    border: solid $primary-border 2px;
                    width: 100%;
                    margin-top: 1rem;
                    font-size: 1rem;
                }
            }
            .btn-wrapper{
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                width: 100%;
                height: 100%;
                .btn{
                    // margin-bottom: 3rem;
                    // margin: 0 2rem;
                    padding: 0.5rem 1rem;
                    background-color: $btn-background;
                    border-radius: 3px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width:700px){
    .form-body{
        overflow: scroll;
        .join-form{
            grid-template-areas: "image""data";
            grid-template-columns: 1fr;
            grid-template-rows: 300px 1fr;
            width: 100%;
            background-image: url('../../assets/img/WhatsApp\ Image\ 2021-05-27\ at\ 13.56.34.jpeg');
            height: 110vh;
            padding: 1rem;
            .image-data{
                canvas{
                    width: 250px;
                    height: 200px;
                }
            }
        }
    }
}